{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<nav id="overlord" class="overlord" >
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>

<section class="post_container">
  <article>
    {% block post %}
      <h1 class="article_title"><a href="{{page.permalink}}" id="article_link">{{ page.title }}</a></h1>
      {{ macros::frontmatter(classes="frontmatter_page", date=page.date, word_count=page.word_count, read_time=page.reading_time) }}
      {% if page.toc and not page.extra.toc_disabled %}
      <div class="post-toc" id="post-toc">
          <h3 class="post-toc-title">Contents</h3>
          <div class="post-toc-content always-active">
              <nav id="TableOfContents">
                  <ul>
                      {% for h1 in page.toc %}
                      <li>
                          <a href="{{h1.permalink | safe}}" class="toc-link">{{ h1.title }}</a>
                          {% if h1.children %}
                          <ul>
                              {% for h2 in h1.children %}
                              <li>
                                  <a href="{{h2.permalink | safe}}" class="toc-link">{{ h2.title }}</a>
                              </li>
                              {% endfor %}
                          </ul>
                          {% endif %}
                      </li>
                      {% endfor %}
                  </ul>
              </nav>
          </div>
      </div>
      {% endif %}      
      {{ page.content | safe }}
      {% endblock post %}
  </article>
</section>
{% endblock content %}
